// base css
nav {
    a {
        &.active {
        color: #8a7043 !important;
        }
     }
}

.m1-top {
    margin-top: 8px;
}

/*
for modal pop up fix
*/
.fade.show {
  opacity: 1;
}

.modal {
    top: 200px !important;
}
/*
for modal pop up fix
*/

.img-full {
    width: 100%;
}

//for inputs validity
input.ng-invalid.ng-touched {
    border: 1px solid red !important;
}

input[type="radio"] {
    -webkit-appearance: radio !important;
    z-index: 2 !important;
    opacity: 1 !important;
}