<header id="header">
  <div class="inner">
    <a href="index.html" class="logo">BechDe</a>
    <span ng-if="userName"></span>
    <nav id="nav">
      <a routerLinkActive="active" routerLink="/home">Home</a>
      <a routerLinkActive="active" routerLink="/login">Login</a>
      <a routerLinkActive="active" routerLink="/signup">SignUp</a>
      <a routerLinkActive="active" routerLink="/mycart">SignUp</a>      
    </nav>
  </div>
</header>
<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>